<%- include('partials/header') -%>

<header>
    <h1>SOSS</h1>

    <% if(userData){ %>
      <section class="myprofile-forward">
        <section class="small-profile-pic">
          <img src="https://res.cloudinary.com/moabdu/image/upload/v1683557734/kakkbx6ykylflyaj6nqg.jpg" alt="">
        </section>
        <!-- <a href="/profile">
          <%= userData.userName %>
       </a> -->
      </section>
   
      
    <% } else{ %>
    <a href="/login">
        <button>Login</button>
    </a>
    <% } %>
</header>


<a href="/losts/addLostPage" class="add-lost"><button>إضافة مفقود <br> Add Lost Person</button></a>



<!-- <form action="">
    <input type="text" placeholder="أ=اسم المفقود">



        <textarea name="" id="" placeholder="معلومات عن المفقود"></textarea>
        <section>
            <input type="file" class="form-control" id="imageUpload" name="file" size="100">
            <button>post</button>
        </section>
  
</form> -->


<h2>المفقودين <br> Lost People </h2>
<section class="persons">

<% for(let i = 0 ; i < lostPeople.length ; i++){ %>


        <section class=" person-card">
          <a href="/losts/lostPost/<%= lostPeople[i]._id %>"><i class='bx bxs-info-circle' ></i></a>
          <section class="person-card-option display-none">

            <a href="/losts/editLostPostPage/<%= lostPeople[i].id %>"><i class='bx bxs-edit-alt' ></i>Edit تعديل</a>
            <a href=""><i class='bx bx-trash' ></i>Delete حذف</a>

            <i class='bx bx-x' ></i>

          </section>
          <% if(userData){ %>
            <% if(userData.id === lostPeople[i].postedBy.toString()) {%>
              <i class='bx bx-dots-vertical-rounded' ></i>
  
              <% } %>
         <% } %>
          
            <img src="<%= lostPeople[i].image %>" alt="">
            <section class="card-info">
                <h3><%= lostPeople[i].lostPersonName%></h3>
                   <% if(lostPeople[i].status === true){ %>
                    <section class="status-section">
                    <span>Status: found</span>
                    <!-- <i class='bx bx-check-circle'></i> -->
                    <i class='bx bxs-check-shield'></i>
                    <span>الحالة: تم الإيجاد</span>
                    </section>
               <%    }else{  %>
                <section class="status-section">
                  <span>Status: not found</span>
                  <!-- <i class='bx bx-x-circle' ></i> -->
                  <i class='bx bxs-shield-x' ></i>
                  <span>الحالة: لم يتم الإيجاد</span>
              </section>
              <% } %>
                  
                <span class="postedby">  <section><img src="https://res.cloudinary.com/moabdu/image/upload/v1683557734/kakkbx6ykylflyaj6nqg.jpg" alt=""></section> <%= lostPeople[i].userName %> </span>
             </section>
        </section>
      
      <% } %>

</section>






<%- include('partials/footer') -%>