<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HayaFooty</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"

      
      href="/imgs/favicon-32x32.png"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>

<header>
    <h1>SOSS</h1>

    <% if(userData){ %>
      <section class="myprofile-forward">
        <section class="small-profile-pic">
          <img src="https://res.cloudinary.com/moabdu/image/upload/v1683557734/kakkbx6ykylflyaj6nqg.jpg" alt="">
        </section>
        <!-- <a href="/profile">
          <%= userData.userName %>
       </a> -->
      </section>
   
      
    <% } else{ %>
    <a href="/login">
        <button>Login</button>
    </a>
    <% } %>
</header>
<main>


  <section class="profile-header">
   
    <section class="profile-intro-section">
      
      <section class="profile-header--header">
        <section class="profile-pic-container">
          <img class="profile-pic" src="<%= accountData.profilePic %>" alt="">
      
        </section>
  
      </section>
      <!-- <hr> -->
  
      <h3><%= myProfileData.userName %></h3>

      <h4><%= accountData.profession %></h4>
      <section class="profile-info">  
        <a href=""><i class='bx bxl-twitter' ></i><%= accountData.twitter %></a>
          <a href=""><i class='bx bxl-facebook-square'></i><%= accountData.facebook %></a>
            <a  href=""><i class='bx bx-phone' ></i><%= accountData.phonenumber %></a>
      </section>
  
    </section>
   
  </section>


  <section class="profile-main">

    <section class="posts">
      <section class="posts-scroller">
      <% for(let i = 0 ; i < myProfileLostPost.length ; i++){ %>


        <section class=" person-card">
          <a href="/losts/lostPost/<%= myProfileLostPost[i]._id %>"><i class='bx bxs-info-circle' ></i></a>
         
         
  
            <img src="<%= myProfileLostPost[i].image %>" alt="">
            <section class="card-info">
                <h3><%= myProfileLostPost[i].lostPersonName%></h3>
                   <% if(myProfileLostPost[i].status === true){ %>
                    <section class="status-section">
                    <span>Status: found</span>
                    <!-- <i class='bx bx-check-circle'></i> -->
                    <i class='bx bxs-check-shield'></i>
                    <span>الحالة: تم الإيجاد</span>
                    </section>
               <%    }else{  %>
                <section class="status-section">
                  <span>Status: not found</span>
                  <!-- <i class='bx bx-x-circle' ></i> -->
                  <i class='bx bxs-shield-x' ></i>
                  <span>الحالة: لم يتم الإيجاد</span>
              </section>
              <% } %>
  
                <span class="postedby">  <section><img src="https://res.cloudinary.com/moabdu/image/upload/v1683557734/kakkbx6ykylflyaj6nqg.jpg" alt=""></section> <%= myProfileLostPost[i].userName %> </span>
             </section>
        </section>
  
      <% } %>
    </section>
  </section>
<!-- <hr> -->
  </section>


  


</main>




<%- include('partials/footer') -%>